.menu-item {
  @apply flex flex-row items-center w-full animate-fade;
  color: theme('colors.gray.400');
  cursor: pointer;
  padding: 5px 20px;
  background-color: transparent;
  transition: background-color 300ms ease;
  -webkit-transition: background-color 300ms ease;
  -moz-transition: background-color 300ms ease;
  -ms-transition: background-color 300ms ease;
  -o-transition: background-color 300ms ease;

  &:hover {
    @apply bg-white/20;
  }

  &:active {
    @apply bg-white/10;
  }

  & > div {
    margin-right: 10px;
  }
}
