@import '../../../../../app/styles/variables';

.root {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.content {
  @include fade-bg-gradient(0deg);
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}

.title {
  position: relative;
  z-index: 2;
}
